# archive_nodes.conf
#
# Declare the hostnames/IP adresses of target nodes where WAL files
# shall be copied when PostgreSQL executes archive_xlog through
# the archive_command parameter.
#
# The format is:
# [user@]host {/path/to/destination_dir|-} {pitr|-}
#
# An empty field must be filled with - (dash) if it is not the last one
#
# If the destination path is not specified, archive_xlog falls back to the
# DEST configuration option.  If DEST is empty:
# - local copy is not performed
# - remote copy goes to the home directory of the remote user
# 
# The third option prepares the future usage of the file:
# - pitr: the file is compressed and intended to be used by backup_pitr and
#         restore_pitr.  This option bypasses ALLOW_LOCAL
# - - (dash): default is to archive for warm/hot standby usage
#
# Lines starting with # are comments.  Comments can be put at the end
# of a line.
#

# IP		DESTINATION	MODE

#127.0.0.1	-		pitr
#::1		/tmp		-
