# archive_xlog.conf

# Hostname or IP address for SSH copy.  This is mandatory when a local copy
# is not wanted.
SSH_HOST=

# Username fot SSH login. Defaults to the user running the script,
# e.g. PostgreSQL system user.  The username can be specified on per
# node basis by using the user@node syntax in archive_nodes.conf
SSH_USER=

# Destination path.
DEST=/var/lib/pgsql/archived_xlog

# Local copy.
LOCAL="no"

# Compress the WAL segment
COMPRESS="yes"

# Logging options.  When SYSLOG is no, messages are written
# to stderr, to allow the logging collector or redirection
# to catch them
SYSLOG="no"
SYSLOG_FACILITY="local0"
SYSLOG_IDENT="postgres"
