# archive_xlog.conf

# Path to the list of target nodes
NODE_LIST=@SYSCONFDIR@/archive_nodes.conf

# Default destination path, this can be overriden on
# per node basis in NODE_LIST (see the file)
DEST=/var/lib/pgsql/archived_xlog

# Allow local copy.  If a local IP address is configured
# in NODE_LIST, then it is copied there only if ALLOW_LOCAL
# is "yes". Defaults to "no".
ALLOW_LOCAL="no"

# Logging options.  When SYSLOG is no, messages are written
# to stderr, to allow the logging collector or redirection
# to catch them
SYSLOG="no"
SYSLOG_FACILITY="local1"
SYSLOG_IDENT="postgres"
