# globals
PGDATA="/var/lib/pgsql/data"
PGPSQL="psql"
PGUSER="postgres"
PGPORT=5432
PGHOST="/tmp"
PGDATABASE="postgres"
PGOWNER=$PGUSER

# backup
BACKUP_IS_LOCAL="no"
BACKUP_HOST=

BACKUP_DIR="/var/lib/pgsql/backups"
BACKUP_LABEL="replitr"

# restore
RESTORE_COMMAND=

# Archived WAL files
ARCHIVE_DIR="/var/lib/pgsql/archived_xlog"

# purge
PURGE_KEEP_COUNT=
PURGE_OLDER_THAN=

# Internal
# Change scripts_dir to point to the directory storing
# the *_pitr scripts if needed
#scripts_dir=@LIBDIR@
