version: 2.1

jobs:
  tests:
    parameters:
      dist:
        description: "Execution Linux distribution"
        type: enum
        enum: [centos6, centos7, stretch, buster]
      pgversion:
        description: "PostgreSQL dotted major version"
        type: string
    docker: [image: "dalibo/temboard-agent-sdk:<< parameters.dist >>"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Install pitrery
          command: make install
      - run:
          name: functional tests
          command: "sudo -su postgres PGVERSION=<< parameters.pgversion >> ./script/funcenv"

  shellcheck:
    docker: [image: "dalibo/temboard-agent-sdk:buster"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Shellcheck code analysis
          command: shellcheck -f gcc pitrery archive_wal restore_wal

workflows:
  version: 2
  pipeline:
    jobs:
    - tests:
        name: buster-12
        dist: buster
        pgversion: "12"
    - tests:
        name: stretch-96
        dist: stretch
        pgversion: "9.6"
    - tests:
        name: centos7-12
        dist: centos7
        pgversion: "12"
    - tests:
        name: centos7-10
        dist: centos7
        pgversion: "10"
    - tests:
        name: centos6-96
        dist: centos6
        pgversion: "9.5"
    - shellcheck
