version: 2.1

jobs:
  tests:
    parameters:
      pgversion:
        description: "PostgreSQL dotted major version"
        type: string
    docker: [image: "dalibo/temboard-agent-sdk:buster"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Install pitrery
          command: make install
      - run:
          name: functional tests
          command: "sudo -su postgres PGVERSION=<< parameters.pgversion >> ./script/funcenv"
      - run:
          name: Shellcheck code analysis
          command: shellcheck -f gcc pitrery archive_wal restore_wal

  shellcheck:
    docker: [image: "dalibo/temboard-agent-sdk:buster"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Shellcheck code analysis
          command: shellcheck -f gcc pitrery archive_wal restore_wal

workflows:
  version: 2
  pipeline:
    jobs:
    - tests:
        pgversion: "12"
    - shellcheck
