version: 2.1

jobs:
  tests:
    parameters:
      dist:
        description: "Execution Linux distribution"
        type: enum
        enum: [centos6, centos7, stretch, buster]
      pgversion:
        description: "PostgreSQL dotted major version"
        type: string
    docker: [image: "dalibo/labs-sdk:<< parameters.dist >>"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Install pitrery
          command: make install
      - run:
          name: functional tests
          command: "sudo -su postgres PGVERSION=<< parameters.pgversion >> ./script/funcenv"

  shellcheck:
    docker: [image: "dalibo/labs-sdk:buster"]
    working_directory: /tmp/project/
    steps:
      - checkout
      - run:
          name: Shellcheck code analysis
          command: shellcheck -e SC2002,SC2004,SC2005,SC2006,SC2086,SC1117,SC2119,SC2129,SC2162,SC2181 -e SC1090,SC2034,SC2038,SC2120,SC2124,SC2128,SC2153,SC2174,SC2178,SC2198,SC2206,SC2207 -f gcc pitrery archive_wal restore_wal

workflows:
  version: 2
  pipeline:
    jobs:
    - tests:
        name: buster-13
        dist: buster
        pgversion: "13"
    - tests:
        name: stretch-96
        dist: stretch
        pgversion: "9.6"
        filters:
          branches:
            only: master
    - tests:
        name: centos7-13
        dist: centos7
        pgversion: "13"
        filters:
          branches:
            only: master
    - tests:
        name: centos7-10
        dist: centos7
        pgversion: "10"
        filters:
          branches:
            only: master
    - tests:
        name: centos6-95
        dist: centos6
        pgversion: "9.5"
    - shellcheck
