Source: pitrery
Section: main
Priority: extra
Maintainer: Nicolas Thauvin <nicolas.thauvin@dalibo.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/dalibo/pitrery/wiki
#Vcs-Git: git://git.debian.org/collab-maint/pitrery.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pitrery.git;a=summary

Package: pitrery
Architecture: all
Depends: ${misc:Depends}
Description: Point-In-Time Recovery tools for PostgreSQL
 pitrery is a set of Bash scripts to manage Point In Time Recovery (PITR)
 backups for PostgreSQL.
 .
 It provides scripts to backup, restore and manage backups for PITR.
