Source: pitrery
Section: database
Priority: optional
Maintainer: Thibaut Madelaine <thibaud.madelaine@dalibo.com>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.9.6.1
Homepage: https://github.com/dalibo/pitrery

Package: pitrery
Architecture: all
Depends: ${misc:Depends}
Recommends: rsync (>= 3.0.7), openssh-client
Description: Point-In-Time Recovery tools for PostgreSQL
 pitrery is a set of Bash scripts to manage Point In Time Recovery (PITR)
 backups for PostgreSQL.
 .
 It provides scripts to backup, restore and manage backups for PITR.
